* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8FAFC;
    color: #1E293B;
}
.hero {
    height: 90vh;
    background-image: url("http://localhost/WEB%20TECH%20PROJECT/WEB-TECH/PROJECT/ADMIN/IMAGE/Homepagebackground.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.hero-content {
    position: relative;
    color: white;
    padding: 20px;
}
.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}


